database:
  host: localhost
  user: postgres
  port: 5432
  password: root
  dbname: pronaces
  MIGRATE: true
  DATABASE_URL: postgres://postgres:root@localhost:5432/pronaces?sslmode=disable
  
server:
  port: 8080